@import '../css/helpers/__reset';
@import '../css/fonts/__pxtoem';
@import '../css/helpers/__mixins';
@import '../css/helpers/__wrapper';

.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
  }
  .apphead {
       @include appHead;
  }
  .contentborder {
    border: 4px solid lightyellow;
    height: 50vh;
    border-radius: 10px;
    background: #000;
    opacity: 1;
    position: relative;
    width: 75%;
    z-index: 999;
    margin: 0 auto;
  }
  .find {
    border:1px solid #fff;
    color: #000;
    background: #fff;
    width: 50%;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    height: 60px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    text-transform: uppercase;
    font-size: em(30);
    border-radius: 10px;
    justify-content: center;
    margin: 55px auto auto;
    justify-content: center;
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  /* Set the font, lean the board, position it */
#board {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 350%;
  height: 50em;
  width: 18em;
  bottom: -200px;
  z-index: -9;;
  left: 50%;
  color: yellow;
}

#board:after {
  position: absolute;
  content: ' ';
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

/* Set the scrolling animation and position it */
#content {
  animation: scroll 100s linear 16s;
  position: absolute;
  top: 100%;
  text-align: center;
  left: 0;
  right: 0;
}

#title, #subtitle {
  text-align: center;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}
.contentborder {
  p {
    color: #fff;
  }
}
.personContent {
  span {
    color: #fff;
  }
  h2 {
    color: #fff;
  }
}

.appMenu {
  display: flex;
  justify-content: center;

  li {
    margin: 0 15px;
    a {
      color: #fff;
      text-decoration: none;
      font-family: 'Oswald', sans-serif;
      font-size: em(20);
      text-transform: uppercase;
    }
  }
}